.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

span{
    display: block;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }

/* background-colors  Box */
#grey{
    background-color: grey;
}

#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}