*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin-top: 20px;
    font-size: 45px;
    background-color: yellow;
}

/* Class and ID Selector  */

#first-para{
    color: antiquewhite;
    background:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.para{
    color: wheat;
    background: red;
    text-align: center;
    width: 50%;
    height: 50%;
}

/* Element Selector  */
p{
    margin: 20px 20px;
    padding: 20px 20px;
}

/* Universal Selector  */
*{
   p{
    font-size: larger;
    color: antiquewhite;
    background-color: aqua;
   }
}

/* group Selector */
h4, h4, p {
    margin-top: 20px;
    text-align: center;
    color: rgb(92, 10, 255);
    background-color: beige;
    font-size: 30px;
  }