/* Defining color  */
:root {
    --body-background: #0e0e0f;
    --btn-primary: #5cabff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
}

/* main container  */
.container {
    background-color: #ffff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* TodoInput */
#todoInput {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

/* Buttons  */
#addTodo {
    background-color: var(--btn-primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

}

/* btn after hovering  */
#addTodo:hover {
    background-color: red;
    color: white;
}

/* Styling the todoList items  */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid#ddd;
}
li:hover{
    background-color: antiquewhite;
}

li:last-child {
    border-bottom: none;
}